mixin bigArticle(details)
    .article.panel.panel-default
        .panel-body
            h4= details.metadata.title
            if details.metadata.description
                p= details.metadata.description
            else
                p No description available.
        .panel-footer
            | Written by 
            =details.metadata.author
            |  on 
            =details.metadata.publishDate
mixin smallArticle(details)
    .article.panel.panel-default
        .panel-body
            strong
                span.title=details.metadata.title 
            if details.metadata.description
                span.description  - 
                    = details.metadata.description
            small.pull-right
                | Written by 
                =details.metadata.author
                |  on 
                =details.metadata.publishDate
